.github/
.gitlab/
scripts/
taskfiles/
build/
cache/img
**/.git
**/.gitignore
**/.vscode
**/.coverage
**/.venv
**/.env
**/.dev.env_*
**/.aws
**/.ssh
**/.DS_Store
docker-compose.yml
Dockerfile
Taskfile.yml
.hadolint.yaml
.shellcheckrc
.mypy_cache/
.ruff_cache/
.venv/
.vscode/
dist/
test-reports/
tests/
.*
commitlint.config.js
CHANGELOG.md
